
*{
  background-color: #F4F4F4 
}

header#main-header {
    background-color: #F4F4F4;
    overflow: hidden;
    border-bottom: 1px solid #F4F4F4;
    padding: 20px;
    width: 1499px;
    height: 109px;
}

.header-content img {
  background-color: #F4F4F4;
  margin-left:220px;
  margin-top: 28px;
}
.right-content {
  float: right;
  margin-top: 10px;
  background-color: #F4F4F4;
  justify-content: space-between
}
.right-content img{
  margin-left: 1325px;
  width: 26px;
  height: 50px;
  margin-top: -76px;
  background-color: #F4F4F4;

}
.right-content a{
  font-family: brasley;
  font-size: 14px;
  background-color: #F4F4F4;
  margin-left: 1208px;
  margin-top: -76px;

}

.header-content {
  background-color: #F4F4F4;
}

